<!DOCTYPE html>
<html>
    <head>
        <title>Justice for Ugly Animals</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>
</html>
<body>
    <div class="navigation">
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log-In</a></li>
            <li><a href="/logout">Log-Out</a></li>
            <li><a href="/profile">View Profile</a></li>
            <li><a href="/comments">Comments</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/aboutus">About Us</a></li>
        </ul>    
    </div>
    <div class="content">
        <h1>About Us</h1>
        <p>“Love-for-the-Uglies” is a (fictional) society which tries to raise the profile of the “ugly”
            (non-human) animals of the world. We believe that fluffy, “cute” creatures of the world,
            such as the giant panda, get far too much attention in the modern media. Creatures like
            the naked mole rat, the spiny lumpsucker fish and the jumping spider deserve much
            more attention! Of course, “ugly” is subjective and might apply to lots of animals, too,
            but definitely not pandas, and blob fish are now considered passé, too.</p>
    </div>
    
</body>