<!DOCTYPE html>
<html>
    <!--title and stylesheet-->
    <head>
        <title>Justice for Ugly Animals</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>
</html>
<body>
    <!--navbar-->
    <div class="navigation">
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log-In</a></li>
            <li><a href="/logout">Log-Out</a></li>
            <li><a href="/profile">View Profile</a></li>
            <li><a href="/comments">Comments</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/userlist">User List</a></li>
        </ul>    
    </div>
    <!--page title-->
    <div class="title">
        <h1>Change Username</h1>
    </div>
    <!--contents of page-->
    <div class="content">
        <!--form to enter a new username-->
        <form action="/editusername" method="POST">
            <label for="nameedit">New username:</label><br>
            <input type="text" id="nameedit" name="nameedit"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    
</body>