<!DOCTYPE html>
<html>
    <head>
        <title>Justice for Ugly Animals</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>
</html>
<body>
    <div class="navigation">
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log-In</a></li>
            <li><a href="/logout">Log-Out</a></li>
            <li><a href="/profile">View Profile</a></li>
            <li><a href="/comments">Comments</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/userlist">User List</a></li>
        </ul>    
    </div>
    <div class="commentsubmission">
        <h1>Comments</h1>
        <form action="/addcomment" method="POST">
            <label for="comment">Add Comment:</label><br>
            <input type="text" id="comment" name="comment"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="comments">
        <% if(data.comments) { %>
            <% data.comments.forEach(function(comment) { %>
                <%= comment.username %> Says:<br>
                <%= comment.comment %><br>
            <% }) %>    
        <% } else { %>
            <p>no comments</p>
        <% } %>
        <% if(data.adminstatus == true) { %>
            <form action="clearcomments" method=POST>
                <input type="submit" value="Clear all comments"></input>   
            </form><br> 
        <% } %>
    </div>
    
</body>