<!DOCTYPE html>
<html>
    <head>
        <title>Justice for Ugly Animals</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>
</html>
<body>
    <div class="navigation">
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log-In</a></li>
            <li><a href="/logout">Log-Out</a></li>
            <li><a href="/profile">View Profile</a></li>
            <li><a href="/comments">Comments</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/userlist">User List</a></li>
        </ul>    
    </div>
    <div class="content">
        <h1>Home</h1><br>
        <p>Welcome to the Love-for-the-Uglies society website! If you want to access the features of the site, please log-in or create an account. Check the events page for upcoming events and leave a comment on the comments page if you so wish!</p>
    </div>
    
</body>