<!DOCTYPE html>
<html>
    <head>
        <title>Proof of Concept</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>
</html>
<body>
    <div class="navigation">
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log-In</a></li>
            <li><a href="/logout">Log-Out</a></li>
        </ul>    
    </div>
    <div class="content">
        <h1>Home</h1>
    </div>
    
</body>