<!DOCTYPE html>
<html>
    <head>
        <title>Justice for Ugly Animals</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>
</html>
<body>
    <div class="navigation">
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log-In</a></li>
            <li><a href="/logout">Log-Out</a></li>
            <li><a href="/profile">View Profile</a></li>
            <li><a href="/comments">Comments</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/userlist">User List</a></li>
        </ul>    
    </div>
    <div class="content">
        <h1>New Event</h1>
        <form action="/createevent" method="POST">
            <label for="eventname">Event name:</label><br>
            <input type="text" id="eventname" name="eventname"><br>
            <label for="eventlocation">Event location:</label><br>
            <input type="text" id="eventlocation" name="eventlocation"><br>
            <label for="eventdesc">About the event:</label><br>
            <input type="text" id="eventdesc" name="eventdesc"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    
</body>