<!DOCTYPE html>
<html>
    <head>
        <title>Justice for Ugly Animals</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>
</html>
<body>
    <div class="navigation">
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log-In</a></li>
            <li><a href="/logout">Log-Out</a></li>
            <li><a href="/profile">View Profile</a></li>
            <li><a href="/comments">Comments</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/userlist">User List</a></li>
        </ul>    
    </div>
    <div class="content">
        <h1>User List</h1><br>
        <p>Below is a current list of all the users on the site.</p><br>
        <% if(data.users) { %>
            <% data.users.forEach(function(user) { %>
                <%= user.username %><br>
            <% }) %>    
        <% } else { %>
            <p>no users</p>
        <% } %>
    </div>
    
</body>