*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
ul {
    padding: 0;
    list-style: none;
    font-size: 0;

}

.navigation ul li{
font-size: 18px;
display: inline-block;
align-content: center;
text-align: center;
border-radius: 0 0 3px 0;
}

.navigation ul li a{
display: block;
color: white;
text-decoration: none; 
padding: 8px 0px;
width: 130px;
}


ul li:hover{
background:#2e2e2e;
}

.navigation{
font-size: 30px;
margin: 0;
padding: 0;
background-color: #202020;
color: black;
border: 10px ;
border-color: black;
}

body {
background-color: lightgrey;
}

.content{
font-size: 17px;
}

.comments {
display: inline-block;
padding-top: 30px;
padding-left: 20px;
}

.eventslist {
	display: inline-block;
	padding-top: 30px;
	padding-left: 20px;
	}
	
.userlist {
	display: inline-block;
	padding-top: 30px;
	padding-left: 20px;
}

.title {
text-align: center;
}